# Train Test Split

In [10]:
import pandas as pd
import numpy as np

In [3]:
diabetes = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Diabetes.csv')

In [20]:
diabetes.to_csv('diabetes.csv',index=False)

In [4]:
diabetes.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [6]:
y=diabetes['diabetes']

In [13]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: diabetes, Length: 768, dtype: int64

In [15]:
# define features (X)
X=diabetes.drop(['diabetes'],axis=1)

In [16]:
X = diabetes[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi','dpf', 'age']]

In [17]:
#importing train test split
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,stratify=y,random_state=42)

In [19]:
X_train

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
209            7      184         84       33        0  35.5  0.355   41
176            6       85         78        0        0  31.2  0.382   42
147            2      106         64       35      119  30.5  1.400   34
454            2      100         54       28      105  37.8  0.498   24
636            5      104         74        0        0  28.8  0.153   48
..           ...      ...        ...      ...      ...   ...    ...  ...
214            9      112         82       32      175  34.2  0.260   36
113            4       76         62        0        0  34.0  0.391   25
556            1       97         70       40        0  38.1  0.218   30
759            6      190         92        0        0  35.5  0.278   66
107            4      144         58       28      140  29.5  0.287   37

[537 rows x 8 columns]